.users-card {
  border: 3px solid #94c3dd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  max-width: 300px;
  flex-basis: calc(50% - 10px);
}

.users-details {
  flex: 1;
}

h3 {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.email {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.p {
  margin-top: 0.2rem;
  font-size: 1rem;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10rem;
}

.delete-button:hover {
  background-color: #c0392b;
}

.edit-button {
  background-color: #9de73c;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20%;
}

.userpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
