.perfil-container {
  margin-top: 3rem;
  padding: 0;
  width: 18%;
  display: block; /* Cambiar a bloque en lugar de inline-block */
  max-width: none;
  margin: 0 auto; /* Centrar horizontalmente utilizando margen auto */
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.perfil-header {
  margin-top: 10px; /* Cambiar margin-bottom a margin-top */
  text-align: left; /* Cambiar el texto a la izquierda si es necesario */
}

.perfil-datos {
  margin-top: 10px; /* Cambiar margin-bottom a margin-top */
  display: block; /* Cambiar a bloque en lugar de flex */
}

.perfil-datos label {
  display: block; /* Asegurarse de que los labels sean bloques */
  font-weight: bold;
  margin: 5px 0; /* Cambiar margin-bottom a un margen vertical */
}

.perfil-datos input,
.perfil-datos span {
  margin: 5px 0; /* Cambiar margin-bottom a un margen vertical */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.perfil-datos button {
  background-color: #94c3dd;
  color: #303030;
  border: none;
  border-radius: 5px;
  padding: 5%;
  width: 80%;
  cursor: pointer;
}

.perfil-datos button:hover {
  background-color: #217dbb;
}

.userpic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}