.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

h1 {
  text-align: center;
}

.add-user-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10%;
  height: 20rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-user-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-user-button:hover {
  background-color: #45a049;
}
