.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94c3dd;
  color: #303030;
  padding: 10px 20px;
}
h1 {
  margin: 0;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  width: 6rem;
}

.user-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 10%;
}


/* el user button cumple la misma función
.user-name {
  margin: 0;
  margin-right: 1rem;
}*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3ebe7;
  color: #303030;
  border-radius: 2%;
  border: 1px solid #94c3dd;
  padding: 0.5rem;
  z-index: 1;
  width: 6rem;
}

.dropdown-buttons {
  background-color: white;
  color: black;
  border: none;
}

.dropdown-buttons:hover{
  background-color: #008CBA;
  color: white;
}

.title-button{
  background-color: #94c3dd;
  color: white;
  border: None;
  font-size: xx-large;
}

.user-button{
  background-color: #94c3dd;
  color: black;
  border: None;
  font-size: medium;

}

.dropdown:hover .dropdown-content {
  display: block;
}
