.book-item-container {
  width: 350px;
  height: 380px;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  padding: auto;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-item-container-dark {
  background-color: #020c1a;
  color: white;
  border: 1px solid white;
}
